.header--component {
  padding: 1.25rem 1.25rem 0 1.25rem;
  margin: 0;
  width: 100%;
  position: relative;
  background-color: var(--almost-white);
}

.header--logo {
  background-image: url(../../images/icons/logo.svg);
  height: 2rem;
  min-width: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}
.header--navigation-menu-container {
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.55) 0,
    rgba(0, 0, 0, 0.55) 34%,
    rgb(255, 255, 255, 1) 34%,
    rgb(255, 255, 255, 1) 100%
  );
  width: 0;
  height: 100vh;
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  transition: all 350ms;
  overflow: hidden;
}
.header--navigation-menu {
  height: 100vh;
  margin: 0 0 0 calc(34vw);
  width: 66vw;
  padding-top: 3.5rem;
}
.header--navigation-btn {
  color: var(--Medium-gray);
  background-color: var(--almos-white);
  border: none;
  font-size: 0.85rem;
  font-weight: 500;
  margin: 0.85rem 0 0.25rem 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 150ms;
}

.header--iconDown {
  background-image: var(--arrow-down);
  height: 0.85rem;
  width: 0.85rem;
  margin-left: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 150ms;
}
.header--iconUp {
  background-image: var(--arrow-up);
  height: 0.85rem;
  width: 0.85rem;
  margin-left: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 150ms;
}
.header--navigation-btn-selected {
  color: var(--almost-black);
  cursor: pointer;
  font-weight: 800;
  border-color: var(--almost-black);
  transform: scale(1.125);
}
.header--navigation-btn:hover {
  color: var(--almost-black);
  cursor: pointer;
  font-weight: 800;
  border-color: var(--almost-black);
  transform: scale(1.125);
}

.register-btn,
.login-btn {
  width: 70%;
  margin: 0 auto;
  padding: 0.4rem 0;
}
.register-btn {
  border: 1px solid var(--Medium-gray);
  border-radius: 0.7rem;
}
.header--btn-mobile {
  height: 85%;
  padding: 0.25rem 0;
  width: 85%;
  max-width: 2rem;
  border: none;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  z-index: 15;
}
.header--navigation-features-btn,
.header--navigation-company-btn {
  background-color: #fff;
  color: var(--Medium-gray);
  border: none;
  font-size: 0.85rem;
  margin: 0.5rem 2.25rem;
  display: flex;
  align-items: center;
}

.header--navigation-features-btn:hover,
.header--navigation-company-btn:hover {
  color: var(--almost-black);
  cursor: pointer;
  font-weight: 800;
  border-color: var(--almost-black);
  transform: scale(1.125);
}
.todo-btn,
.calendar-btn,
.reminders-btn,
.planning-btn {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.todo-btn {
  background-image: var(--features-todo);
}
.calendar-btn {
  background-image: var(--features-calendar);
}
.reminders-btn {
  background-image: var(--features-reminders);
}
.planning-btn {
  background-image: var(--features-planning);
}
.header--navigation-features-list,
.header--navigation-company-list {
  height: 0;
  overflow: hidden;
  transition: all 250ms;
}
.header--navigation-display-features {
  padding-top: 0.5rem;
  height: 8rem;
  transition: all 250ms;
}
.header--navigation-display-company {
  height: 5.5rem;
  transition: all 250ms;
}
.header--btn-line-1 {
  width: 100%;
  height: 100%;
  background-image: var(--menu-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 150ms;
  z-index: 15;
}
.header--btn-line-2 {
  width: 100%;
  height: 100%;
  background-image: var(--close-menu-icon);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 150ms;
  z-index: 15;
}

@media (min-width: 769px) {
  .header--navigation-menu-container {
    background-image: none;
    background-color: var(--almost-white);
    position: relative;
    padding: 0;
    margin: 0;
    height: 2.5rem;
    width: 100%;
    max-width: 80vw;
    z-index: 5;
    transition: all 350ms;
    overflow: visible;
  }
  .header--navigation-menu {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  .header--navigation-list {
    display: flex;
    align-items: flex-start;
    align-items: center;
  }
  .header--navigation-auth {
    display: flex;
    align-items: center;
  }
  .header--navigation-menu > ul > li,
  .header--navigation-btn {
    padding: 0;
    margin: 0;
    position: relative;
  }
  .header--navigation-btn {
    min-width: 6.5rem;
    margin-right: 0.5rem;
  }
  .register-btn {
    padding: 0.25rem 1rem;
  }
  .header--navigation-features-list,
  .header--navigation-company-list {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
      rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
      rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    background-color: #fff;
    top: 2rem;
  }
  .header--navigation-features-list {
    right: 0.5rem;
  }
  .header--navigation-company-list {
    right: -1rem;
  }
}
